<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h4>BTC-USD Market Trades</h4>
          </div>
          <div class="panel-body">
            <h6><a id="source" class="text-right" href="https://www.cryptocompare.com/"><strong>Source:</strong> CryptoCompare</a></h6>
            <div class="row btn-row">
              <div class="col-xs-4">
                <h3 id="stream-text">Streaming...</h3>
              </div>
              <div class="col-xs-2">
                <button class="btn btn-success btn-lg subon" id="subscribe" (click)="subscribe()">Subscribe</button>
              </div>
              <div class="col-xs-2">
                <button class="btn btn-danger btn-lg" id="unsubscribe" (click)="unsubscribe()">Unsubscribe</button>
              </div>
              <div class="col-xs-12 text-center">
                <h6>Currently streaming from:</h6><i id="sub-exchanges"></i>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th *ngFor="let name of columnNames">{{name}}</th>
                 
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let trade of trades">
                      <td>{{trade["Market"]}}</td>
                      <td>{{trade["Type"]}}</td>
                      <td>{{trade["ID"]}}</td>
                      <td>{{trade["Price"]}}</td>
                      <td>{{trade["Quantity"]}}</td>
                      <td>{{trade["Total"]}}</td>

                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>