{"swagger":"2.0","info":{"version":"v1","title":"Document management service","description":"Document management service"},"host":"complaya-gateway-dc.kendaxa.net","basePath":"/","paths":{},"definitions":{"ErrorMessage":{"type":"object","properties":{"error":{"type":"string"}}},"FileContentResult":{"type":"object","properties":{"fileContents":{"format":"byte","type":"string"},"contentType":{"type":"string","readOnly":true},"fileDownloadName":{"type":"string"},"lastModified":{"format":"date-time","type":"string"},"entityTag":{"$ref":"#/definitions/EntityTagHeaderValue"},"enableRangeProcessing":{"type":"boolean"}}},"EntityTagHeaderValue":{"type":"object","properties":{"tag":{"$ref":"#/definitions/StringSegment","readOnly":true},"isWeak":{"type":"boolean","readOnly":true}}},"StringSegment":{"type":"object","properties":{"buffer":{"type":"string","readOnly":true},"offset":{"format":"int32","type":"integer","readOnly":true},"length":{"format":"int32","type":"integer","readOnly":true},"value":{"type":"string","readOnly":true},"hasValue":{"type":"boolean","readOnly":true}}},"Contract":{"type":"object","properties":{"archiveId":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"telephoneNumber":{"type":"string"},"manufacturer":{"type":"string"},"type":{"type":"string"},"registrationPlate":{"type":"string"},"vin":{"type":"string"},"producedDate":{"format":"date-time","type":"string"},"stockNumber":{"type":"string"},"note":{"type":"string"},"price":{"format":"double","type":"number"},"salesmanId":{"type":"string"},"state":{"enum":["Created","WaitingForConfirmation","Rejected","Approved","CustomerCreated","InvoiceCreated","BonusesAdded","Done"],"type":"string"},"branchId":{"type":"string"},"financingType":{"enum":["CashPurchase","Leasing","Loan"],"type":"string"},"contractDocuments":{"$ref":"#/definitions/ContractDocuments"},"contractDocumentsPageIndexes":{"$ref":"#/definitions/ContractDocumentsPageIndexes"},"addedAtUtc":{"format":"date-time","type":"string"},"updatedAtUtc":{"format":"date-time","type":"string"},"id":{"type":"string"},"isDeleted":{"type":"boolean"},"version":{"format":"int32","type":"integer"}}},"ContractDocuments":{"type":"object","properties":{"contractArchiveId":{"type":"string"},"deArchiveId":{"type":"string"},"grossEarningAnalysisArchiveId":{"type":"string"},"carRegistrationCertificateArchiveId":{"type":"string"},"usedCarPurchaseArchiveId":{"type":"string"},"specialCustomerArchiveId":{"type":"string"},"leasingOrderArchiveId":{"type":"string"},"leasingCalculationsArchiveId":{"type":"string"},"leasingConfirmationArchiveId":{"type":"string"},"additionalDocumentsArchiveId":{"type":"string"},"handoverProtocolArchiveId":{"type":"string"},"newCarOrderingProtocolsArchiveId":{"type":"string"},"orderEntryThirdPartyLeaseArchiveId":{"type":"string"},"payslipWithoutDebtArchiveId":{"type":"string"},"idCardArchiveId":{"type":"string"},"loanApplicationArchiveId":{"type":"string"}}},"ContractDocumentsPageIndexes":{"type":"object","properties":{"contractPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"dePagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"grossEarningAnalysisPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"carRegistrationCertificatePagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"usedCarPurchasePagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"specialCustomerPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"leasingOrderPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"leasingCalculationsPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"leasingConfirmationPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"handoverProtocolPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"newCarOrderingProtocolsPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"additionalDocumentsPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"orderEntryThirdPartyLeasePagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"payslipWithoutDebtPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"idCardPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"loanApplicationPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}}}},"ContractUpdate":{"required":["contractee","car","contractDocumentsUpdate"],"type":"object","properties":{"contractee":{"$ref":"#/definitions/Contractee"},"car":{"$ref":"#/definitions/Car"},"note":{"type":"string"},"salesmanId":{"type":"string"},"price":{"format":"double","minimum":1.0,"type":"number"},"financingType":{"enum":["CashPurchase","Leasing","Loan"],"type":"string"},"archiveId":{"type":"string"},"services":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/ServiceAdd"}},"branchId":{"type":"string"},"contractDocumentsUpdate":{"$ref":"#/definitions/ContractDocumentsUpdate"},"version":{"format":"int32","type":"integer"}}},"Contractee":{"type":"object","properties":{"address":{"$ref":"#/definitions/Address"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"gender":{"enum":["Unidentified","Female","Male"],"type":"string"},"telephoneNumber":{"type":"string"}}},"Car":{"type":"object","properties":{"manufacturer":{"type":"string"},"type":{"type":"string"},"registrationPlate":{"type":"string"},"vin":{"type":"string"},"producedDate":{"format":"date-time","type":"string"},"stockNumber":{"type":"string"}}},"ServiceAdd":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"}}},"ContractDocumentsUpdate":{"type":"object","properties":{"contractPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"dePagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"grossEarningAnalysisPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"carRegistrationCertificatePagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"usedCarPurchasePagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"specialCustomerPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"leasingOrderPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"leasingCalculationsPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"leasingConfirmationPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"handoverProtocolPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"newCarOrderingProtocolsPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"additionalDocumentsPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"orderEntryThirdPartyLeasePagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"payslipWithoutDebtPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"idCardPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}},"loanApplicationPagesNumber":{"uniqueItems":false,"type":"array","items":{"format":"int32","type":"integer"}}}},"Address":{"type":"object","properties":{"city":{"type":"string"},"street":{"type":"string"},"zip":{"type":"string"}}},"ContractAdd":{"required":["contractDocumentsUpdate"],"type":"object","properties":{"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"telephoneNumber":{"type":"string"},"manufacturer":{"type":"string"},"type":{"type":"string"},"registrationPlate":{"type":"string"},"vin":{"type":"string"},"producedDate":{"format":"date-time","type":"string"},"stockNumber":{"type":"string"},"note":{"type":"string"},"salesmanId":{"type":"string"},"price":{"format":"double","minimum":1.0,"type":"number"},"financingType":{"enum":["CashPurchase","Leasing","Loan"],"type":"string"},"archiveId":{"type":"string"},"services":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/ServiceAdd"}},"branchId":{"type":"string"},"contractDocumentsUpdate":{"$ref":"#/definitions/ContractDocumentsUpdate"}}}},"securityDefinitions":{"browser":{"flow":"password","tokenUrl":"/oauth/token","scopes":{"ui":"Frontend read and write scope"},"type":"oauth2"}},"security":[{"browser":[]}],"tags":[]}
