<div>
  <h3>Graph component</h3>
  <!-- <button (click)="onBtnClick()">Click to create!</button> -->
  <mat-form-field>
    <mat-select placeholder="Select pairs to plot" [formControl]="pairsToPlotControl"  [(ngModel)]="selectedCryptoPair" [disabled]="allReceivedPairs.length===0" (selectionChange)="onPairsToPlotSelectionChange()" multiple>
      <mat-option *ngFor="let data of allReceivedPairs" [value]="data" ng-selected="">{{data}}</mat-option>
     
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select value to plot" [formControl]="valuesToPlotControl" [(ngModel)]="selecetedValuesToPlot"  [disabled]="selectedCryptoPair.length===0" (selectionChange)="onValuesToPlotSelectionChange()" multiple>
    
      <mat-option *ngFor="let value of possibleValuesToPlot" [value]="value" >{{value}}</mat-option>
     
    </mat-select>
  </mat-form-field>
<hr/>
<ngx-charts-line-chart *ngIf="create"
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
  </div>