/* Large */
.loader{
  margin:0;
}
.navigation {
  
    display: flex;
    flex-direction: column;


    
    
    /* This aligns items to the end line on main-axis */
    justify-content: center;
    
  }