/* Large */
.loader{
  margin:0;
}

.navigation{
  display: flex;
  
}

.active-link {
	background-color: pink;
}

.navigation-end{
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  flex: 100%;
  direction: rtl;

  
}