   
    <nav class="light-blue lighten-1" role="navigation">
      <!-- <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a> --> 
        <ul class="navigation">
          <li> <a routerLink="/">Home</a></li>
          <li> <a routerLink="/price">Price</a></li>
          <li> <a routerLink="/stream">Stream</a></li>
          <li><input [(ngModel)]="name" type="text" /></li>
            <li><button class="btn btn-sm" (click)="setNameBtnClick()">SET NAME</button></li>
        </ul>
  
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- </div> -->
    </nav>

  <div [hidden]="!loading" class="loader">
    <h2>Loading...</h2>
    <mat-progress-spinner
        class="example-margin"
        color="warn"
        mode="indeterminate">
    </mat-progress-spinner>
  </div>
       
   <!-- <mat-toolbar class="example-header">Header</mat-toolbar> -->
   
       <div class="flex-container"  [hidden]="loading">
            <router-outlet></router-outlet>
      </div>
    
   
    <!-- <footer class="page-footer orange">
        <h2>Footer</h2>
    </footer> -->
