<div class="outer">
    <div class="middle">
      <div class="inner">
          <h3>PRICE HISTORY</h3>

<ngx-charts-line-chart *ngIf="create"
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale">
     
 </ngx-charts-line-chart>
 
 </div>
 </div>
 </div>

