<div class="flex-item">
                <h3>EXCHANGE RATES</h3>
<mat-form-field>
    <mat-select placeholder="Filter by volume" [formControl]="volumeFilterControl"  [(ngModel)]="selectedVolume" [disabled]="filterableVolumeValue.length===0" (selectionChange)="onVolumeFilterSelectionChange()" false>
        <mat-option *ngFor="let volume of filterableVolumeValue" [value]="volume.value" ng-selected="">{{volume.display}}</mat-option>
                     
    </mat-select>
 </mat-form-field>
<ngx-datatable
    [rows]="rows"
    class="material"
    [columnMode]="'flex'"
    [loadingIndicator]="loadingIndicator"
    [offset]="offset"
    [footerHeight]="35"
    [limit]="maxRows"
    [scrollbarH]="false">
    <ngx-datatable-column  name="Exchange" prop="MARKET" [flexGrow]="1">
        <ng-template  let-value="value" ngx-datatable-cell-template>
            {{ value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Pair" prop="PAIR" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Price" prop="PRICE" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="24H volume" prop="VOLUME24HOUR" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="+/- AVG Price" prop="DIFTOAVERAGEPRICE" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value}} %
        </ng-template>
    </ngx-datatable-column>
   
  </ngx-datatable>
  <p class="result">Biggest rate discrepancy is between <em>{{max.MARKET}} ({{max.DIFTOAVERAGEPRICE}}%)</em> and <em>{{min.MARKET}} ({{min.DIFTOAVERAGEPRICE}}%)</em> for total of <em>{{max.DIFTOAVERAGEPRICE + -min.DIFTOAVERAGEPRICE}}%</em></p>
  </div>
 

