<div>
    <h3>Table component</h3>
    <input type="text" placeholder="Type to filter pair collumn" [(ngModel)]="filter" (keyup)="updateFilter()"/>
    <input type="number" placeholder="Filter market cap collumn" [(ngModel)]="marketCapFilter" (keyup)="updateMktCapFilter($event)"/>
    
  <ngx-datatable
    [rows]="rows"
    class="material"
    [footerHeight]="50"
    [offset]="offset"
    
    [limit]="maxRows"
    [scrollbarH]="true">
    <ngx-datatable-column name="PAIR" prop="FROMSYMBOL"></ngx-datatable-column>
    <ngx-datatable-column name="NAME" prop="NAME">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/coin/',value]">{{value}}</a>
              
      </ng-template>

    </ngx-datatable-column>

    <ngx-datatable-column name="PRICE" prop="PRICE"></ngx-datatable-column>
    <ngx-datatable-column name="CHANGE 24H (%)" prop="CHANGEPCT24HOUR" [cellClass]="getCellClass">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | round:2 }}
  </ng-template>
  </ngx-datatable-column>

    <ngx-datatable-column name="OPEN (24h)" prop="OPEN24HOUR"></ngx-datatable-column>
    <ngx-datatable-column name="HIGH (24h)" prop="HIGH24HOUR"></ngx-datatable-column>
    <ngx-datatable-column name="LOW (24h)" prop="LOW24HOUR"></ngx-datatable-column>
    <ngx-datatable-column name="CHANGE (24h)" prop="CHANGE24HOUR"></ngx-datatable-column>
    
    <!-- <ngx-datatable-column name="LASTVOLUME" prop="LASTVOLUME">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value | round:2 }}
</ng-template>
</ngx-datatable-column>
    <ngx-datatable-column name="LASTVOLUMETO" prop="LASTVOLUMETO">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value | round:2 }}
</ng-template>
</ngx-datatable-column> -->
    <ngx-datatable-column name="VOLUME (24h)" prop="VOLUME24HOUR">
      <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value | round:0 }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="VOLUME TO (24h)" prop="VOLUME24HOURTO">
      <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value | round:0 }}
</ng-template>
</ngx-datatable-column>
    <ngx-datatable-column name="MARKET CAP" prop="MKTCAP">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | round:0 }}
  </ng-template>
  </ngx-datatable-column>
    <ngx-datatable-column name="MARKET" prop="MARKET"></ngx-datatable-column>
    
    
  </ngx-datatable>
  <button class="btn btn-sm" (click)="clearTable()">Clear table</button>
  
</div>
