<h1>HELLO</h1>
<div id="getprice">
    <form [formGroup]="requestform" novalidate>
          <div class="form-group" >
                 
                      <mat-form-field >
                          <mat-select placeholder="Select currency to plot" formControlName="currencies"  [(ngModel)]="selectedCurrency"   multiple>
                            <mat-option *ngFor="let data of currenciesListString" [value]="data">{{data}}</mat-option>
                           
                          </mat-select>
                        </mat-form-field>

          </div>
          <div class="form-group">
                      <label class="center-block">Ticker:
                        <input  class="form-control" formControlName="ticker">
                      </label>
                    </div>
                    <div class="form-group">
                          <button [disabled]="!requestform.valid && !selectedCurrrency" class="btn btn-group-sm" (click)="getPrice()">Get Price</button>
                          <button [disabled]="!requestform.valid && !selectedCurrrency" class="btn btn-group-sm" (click)="getPriceMulti()">Get Price Multi</button>
                          <button [disabled]="!requestform.valid && !selectedCurrrency" class="btn btn-group-sm" (click)="getPriceUpdatesMulti()">Get Price Updates</button>

          </div>
                 
  
  </form>
<!--   
  <p>{{selectedCurrency}}</p>
  
 <label>Result:</label>
 <p *ngFor="let price of prices">
      {{price}}
 </p> -->
 <div>
<app-pricegraph>

</app-pricegraph>
</div>
<div>
<app-pricetable>

</app-pricetable>
</div>

</div>