
<div >
    <form [formGroup]="requestform" novalidate>
          <div class="form-group" >
                 
                      <mat-form-field >
                          <mat-select placeholder="Select currency to plot" formControlName="currencies"  [(ngModel)]="selectedCurrency"   multiple>
                            <mat-option *ngFor="let data of currenciesListString" [value]="data">{{data}}</mat-option>
                           
                          </mat-select>
                        </mat-form-field>

          </div>
          <div class="form-group">
              <mat-form-field >
                  <mat-select placeholder="Select crypto" formControlName="ticker"  [(ngModel)]="selectedCrypto"   multiple>
                    <mat-option *ngFor="let crypto of cryptoList" [value]="crypto.symbol">{{crypto.symbol}}-{{crypto.name}}</mat-option>
                   
                  </mat-select>
                </mat-form-field>
                     
                    </div>
                    <div class="form-group">
                          <button [disabled]="!requestform.valid && !selectedCurrrency" class="btn btn-group-sm" (click)="getPrice()">Get Price</button>
                          <button [disabled]="!requestform.valid && !selectedCurrrency" class="btn btn-group-sm" (click)="getPriceMulti()">Get Price Multi</button>
                          <button [disabled]="!requestform.valid && !selectedCurrrency" class="btn btn-group-sm" (click)="getPriceUpdatesMulti()">Get Price Updates</button>

          </div>
                 
  
  </form>
   <hr/>
<app-pricetable>

</app-pricetable>


<app-pricegraph>

</app-pricegraph>
    
<app-crypto-streamer *ngIf="enableStreamer">
  
</app-crypto-streamer>
</div>



