
<div >
    <form [formGroup]="requestform" novalidate disabled="loading">
          <div class="form-group" >
                 
                      <mat-form-field >
                          <mat-select placeholder="Select currency to plot" formControlName="currencies"  [(ngModel)]="selectedCurrency"   multiple>
                            <mat-option *ngFor="let data of currenciesListString" [value]="data">{{data}}</mat-option>
                           
                          </mat-select>
                        </mat-form-field>

          </div>
          <div class="form-group">
              <mat-form-field >
                  <mat-select width="200 px" placeholder="Select crypto" formControlName="ticker" (ngModelChange)="onChange($event)" [(ngModel)]="selectedCrypto"  multiple>
                    <mat-option *ngFor="let crypto of cryptoList" [value]="crypto.symbol">{{crypto.symbol}} {{crypto.price_usd}}$ <span [style.color]="crypto.percent_change_24h < '0' ? 'red': 'green'"> {{crypto.percent_change_24h}} %</span>
                  </mat-option>
                   
                  </mat-select>
                </mat-form-field>
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="selectAll()">
                    Select TOP50
                   </button>
                   <mat-select placeholder="Select filter" formControlName="filter"  [(ngModel)]="selectedCryptoListFilter" (ngModelChange)="onFilterChange($event)">
                    <mat-option *ngFor="let filter of cryptoListFilterParameters" [value]="filter">{{filter}}</mat-option>
                   
                  </mat-select>
                  
          </div>
         
                    <div class="form-group">
                          <button [disabled]="!requestform.valid && selectedCrypto.length===0 && selectedCurrency.length===0" class="btn btn-group-sm" (click)="getPrice()">Get Price</button>
                          <button [disabled]="!requestform.valid && selectedCrypto.length===0 && selectedCurrency.length===0" class="btn btn-group-sm" (click)="getPriceMulti()">Get Price Multi</button>
                          <button [disabled]="!requestform.valid && selectedCrypto.length===0 && selectedCurrency.length===0" class="btn btn-group-sm" (click)="getPriceUpdatesMulti()">Get Price Updates</button>

          </div>
                 
  
  </form>
   <hr/>
<app-pricetable>

</app-pricetable>


<app-pricegraph>

</app-pricegraph>
    
<app-crypto-streamer *ngIf="enableStreamer">
  
</app-crypto-streamer>
</div>



