<div class="flex-item">
      <h2>DETAILS ABOUT {{coin}}</h2>
 
    <app-coin-prices-on-exchanges-table *ngIf="coin && coinSnapshot" [coin]="coin" [CoinSnapshot]="coinSnapshot" >

    </app-coin-prices-on-exchanges-table>
 
    <app-historical-price-graph *ngIf="coin" [coin]="coin">

    </app-historical-price-graph>
 
      
      <app-social-stats *ngIf="coinSymbol!==undefined" [coin]="coinSymbol">

      </app-social-stats>
    
 
    <app-googletrends *ngIf="coin!==undefined && timelineData?.length>0" [coin]="coin" [TimelineData]="timelineData">
      
    </app-googletrends>
  </div>
 
